.quintessential-regular {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-image: url("Black-Lake-Boats-Crossing-To-Hogwarts.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}  

.quiz-container {
    display: flex;
    /*ne s'applique qu'aux enfants directs*/
    flex-direction: column;
    margin-top: 8%;
    
}

.question {
    display: flex;
    justify-content: center;
    text-align: center;
    border: solid;
    border-radius: 1em;
    margin: 1em;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #610a00e8;
    /*color: rgb(179, 164, 31);*/
    font-weight: bolder;
    font-size: larger;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.button-container {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.options button {
    padding: 10px;
    border-radius: 1em;
    margin-left: 25%;
    margin-right: 25%;
    font-family: "Quintessential", serif;
    color: #b3a41f;
    font-weight: bold;
    font-size: large;
    border-width: 0.3em;
    cursor: pointer;
}

.options button:disabled {
    cursor: not-allowed;
}

.button-container button {
    padding: 10px;
    border-radius: 1em ;
    border: solid;
    border-width: 0.1em;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Quintessential", serif;
    background-color: #05446ed1;
    color: #b8b4b4;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}

.button-container button:disabled {
    cursor: not-allowed;
}
.score-text {
    display: flex;
    justify-content: center;
    text-align: center;
    border: solid;
    border-radius: 8em;
    margin: 1em;
    padding: 8px;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #463533e8;
    color: rgb(231, 230, 226);
    border-color: rgb(231, 230, 226);
    font-weight: bold;
    font-size: large;
}

#replay-button {
    background-color: #e7e6e2eb;
    color: #463533;
    cursor: pointer;
}